{% extends "admin/change_form.html" %}
{% load translation %}

{% block object-tools %}
	{{ block.super }}
	<h3>Translations</h3>
	<a class="pull-right btn btn-primary"
	   href="{% url 'admin:add-by-article' original.pk %}">Add</a>
	<table class="table table-striped table-bordered">
		<thead>
			<th>ID</th>
			<th>Author</th>
			<th>Lang</th>
			<th>Posted date</th>
			<th>Edited date</th>
			<th>Publish date</th>
			<th width="180px">Status</th>
			{% if perms.articles %}
				<th width="120px">Options</th>
			{% endif %}
		</thead>
		<tbody>
		{% for t in translations %}
		<tr>
			<td>{{ t.pk }}</td>
			<td>{{ t.author }}</td>
			<td>{{ t.lang.name }}</td>
			<td>{{ t.posted_date }}</td>
			<td>{{ t.edited_date }}</td>
			<td>{{ t.published.publish_date }}</td>
			{% if perms.articles %}
				<td>{{ t|status }}</td>
				<td> 
					<a class="btn btn-mini"
					   href="{% url 'admin:change-by-article' t.pk original.pk %}">
					   Edit
					</a>
					<a class="btn btn-inverse btn-mini"
					   href="{% url 'admin:articles_drafttranslation_delete' t.pk %}">
					   Remove
					</a>
				</td>
			{% else %}
				<td>{{ t|status_without_perms }}</td>
			{% endif %}
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<h3>Article properties</h3>
{% endblock %}